.nav-item {
    position: relative;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background: #990011;
    transition:
        width 0.3s ease,
        left 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
    left: 0;
}
