.nav-item {
    position: relative;
    font-size: 1rem;
    line-height: 1.5rem;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background: #990011;
    transition:
        width 0.3s ease,
        left 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
    left: 0;
}

@media (min-width: 640px) {
    .nav-item {
        font-size: 1.25rem; /* 20px */
        line-height: 1.75rem;
    }
}
